*{
  padding: 0;
  margin: 0;
}
body{
  /* background-color: #6cde6c; */
  background-image: url(background/leaves-pattern.png);
}
a{
  text-decoration: none;
  color: black;
}
.navbar{
  height: 50px;
  width: 100%;
  display: flex;
  background-color:white;
  color: white;
  justify-content: center;
  box-shadow: 0 0 12px black;
}
.navbar div{

  line-height: 50px;
  padding:0 20px;
    transition: .4s;
}
.grs-of{
  background: #f12711;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  /* background-image:linear-gradient(#00C9FF,#92FE9D); */
  color:white;
  width: 22%;
}
.grs-of:hover{
  background-color: greenyellow;
  transition: .1s;
  cursor: pointer;
  display: inline-block;
}
.user1{
  background-color: white;
  margin-left: 10px;
  width: 20%;
}
.user1:hover{
  background-color: greenyellow;
  transition: .5s;
  cursor: pointer;
}
.user2{
  background-color: white;
  width: 20%;
}
.user2:hover{
  background-color: greenyellow;
  transition: .5s;
  cursor: pointer;
}

.profile{
  width: 4%;
  height: 100%;
}
.profile:hover{
  background-color: grey;
}
.search-input{
    background-color:#fff;
    margin-left: 10px;
    width:25%;
    height: 45px;
    border-radius: 6px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    font-size: 20px;
}
.contact-us{
  background: #009FFF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  /* background-image:linear-gradient(#FEAC5E,#C779D0,#4BC0C8); */
  width: 20%;

}
.contact-us:hover{
  background-color: greenyellow;
  cursor: pointer;
}
.contact-us1{
  background-color: white;
  width: 9%;
  display: flex;

}
.contact-us1:hover{
  background-color: greenyellow;
  cursor: pointer;
}
.search-input:hover{
  width: 28%;
  background-color: lightgrey;
  transition: 0.3s;
  cursor: text;
}
.container{
  display: flex;
  height: 150px;
  width: 100%;
}
div .heading{
  margin: 20px 50px;
  width: 30%;
  color:red;
  text-align: center;
  font-size: 25px;
}
.details {
  display: flex;
  line-height:150px;
  width: 70%;
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
}
.details .user{
  margin:15%;
  margin-top: 63px;
  margin-left: -10px;
}
.main{
  display: flex;
  height: 500px;
  margin-top: 20px;
}
.main .links{
  width: 30%;
}
.front_image{
  width: 68%;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(images/healthy_food.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main .links a select{
  width: 100%;
  background-color: white;
  height: 50px;
  line-height: 50px;
}
.front_image h2{
  padding-left: 50%;
  padding-top: 200px;
  font-size: 40px;
  font-family: monospace;
}
.front_image a{
  margin-left: 50%;
  color: #fff;
  background-color: #6cde6c;
  font-size: 40px;
}
.content{
  font-family: sans-serif,'Times New Roman', Times, serif;
  text-align: left;
  background-image: url(background/contact-us.png);
  background-size: 100%;
  color: white;
  padding: 10px 20px 0px 20px;
}
.feedback{
  width: 30%;
  padding:10px 10px;
  background-color: #2F4F4F;
  color: white;
  padding-left: 10px;
  font-family: sans-serif;
  height: 96%;
}

.feedback input[type=text],input[type=password],textarea{
  width: 300px;
  padding: 12px;
  border: 1px solid lime;
  border-radius: 4px;
  box-sizing: border-box;
}
.feedback input[type=email]{
  width: 300px;
  padding: 12px;
  border: 1px solid lime;
  border-radius: 4px;
  box-sizing: border-box;
}
.feedback input[type=submit]{
  background-color: green;
  color: white;
  padding: 15px 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.feedback input[type=submit]:hover{
  background-color: seagreen;
  cursor: pointer;
}
.feedback input[type=sumbit]:active{
  background-color: grey;
}
.login{
  background-image: url(background/mini.jpg);
  background-repeat: no-repeat;
  display:flex;
  size: 1000px;
}
.section{
  padding-left: 12px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  text-align: center;
  font-size: 30px;
  width: 100%;
  margin-left: 50px;
  margin-right: 50px;
}
.k{
  padding: 1px;
  width: 40%;
  background-color: white;
  border: 4px solid black;
  margin-left: 40px;
  margin-top: 40px;
}
.k:hover{
  background-color: greenyellow;
  cursor: pointer;
}
